{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier un cours</h1>
    <div>
        {# Afficher le formulaire #}
        {{ form_start(courseForm) }}
        {{ form_widget(courseForm) }}
        <button class="btn btn-primary btn-sm" type="submit">Modifier</button>
        {{ form_end(courseForm) }}
    </div>
{% endblock %}

{% block title %}Modifier un cours | {{ parent() }}{% endblock %}