{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier un cours</h1>
    <div>
        {# TODO: Afficher le formulaire #}
    </div>
{% endblock %}

{% block title %}Modifier un cours | {{ parent() }}{% endblock %}